* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 20px;
}
.container {
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    perspective-origin: center;
    text-align: center;
    perspective: 2000px;
    left: 50%;
    transform: translateX(-50%);
}
.screen {
    position: absolute;
    margin: 20px;
    border: 1px solid black;
    transform: rotateX(45deg);
}
.panel {
    height: 700px;
    border-bottom: 1px solid black;
    transform: perspective(1000px);
}
.keyboard {
    display: flex;
}
.keyboard .k {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}